<?xml version="1.0"?>
<config>
    <modules>
        <VirtualPiggy_VirtualPiggy>
            <version>1.0.0.2</version>
        </VirtualPiggy_VirtualPiggy>
    </modules>
    <global>
        <helpers>
            <virtualpiggy>
                <class>VirtualPiggy_VirtualPiggy_Helper</class>
            </virtualpiggy>
        </helpers>
        <models>
            <virtualpiggy>
                <class>VirtualPiggy_VirtualPiggy_Model</class>
                <resourceModel>virtualpiggy_mysql4</resourceModel>
            </virtualpiggy>
            <virtualpiggy_mysql4>
                <class>VirtualPiggy_VirtualPiggy_Model_Mysql4</class>
                <entities>
                    <order>
                        <table>virtualpiggy_order</table>
                    </order>
                </entities>
            </virtualpiggy_mysql4>
            <sales>
                <rewrite>
                    <order>VirtualPiggy_VirtualPiggy_Model_Sales_Order</order>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <virtualpiggy>
                <class>VirtualPiggy_VirtualPiggy_Block</class>
            </virtualpiggy>
            <checkout>
                <rewrite>
                    <onepage_login>VirtualPiggy_VirtualPiggy_Block_Rewrite_Checkout_Onepage_Login</onepage_login>
                </rewrite>
            </checkout>
        </blocks>
        <resources>
            <virtualpiggy_setup>
                <setup>
                    <module>VirtualPiggy_VirtualPiggy</module>
                </setup>
            </virtualpiggy_setup>
        </resources>
    </global>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <virtualpiggy before="Mage_Adminhtml">VirtualPiggy_VirtualPiggy_Adminhtml</virtualpiggy>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <virtualpiggy translate="title">
                                            <title>Virtual Piggy</title>
                                            <sort_order>800</sort_order>
                                        </virtualpiggy>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <virtualpiggy>
                    <file>virtualpiggy.xml</file>
                </virtualpiggy>
            </updates>
        </layout>
        <events>
            <!-- Added by Sebas! -->
            <sales_order_status_change>
                <observers>
                    <company_modulename_order_change>
                        <class>virtualpiggy/observer</class>
                        <method>adminOrderStatusChange</method>
                    </company_modulename_order_change>
                </observers>
            </sales_order_status_change>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <virtualpiggy>
                <use>standard</use>
                <args>
                    <module>VirtualPiggy_VirtualPiggy</module>
                    <frontName>virtualpiggy</frontName>
                </args>
            </virtualpiggy>
        </routers>
        <layout>
            <updates>
                <virtualpiggy>
                    <file>virtualpiggy.xml</file>
                </virtualpiggy>
            </updates>
        </layout>
        <translate>
            <modules>  
                <VirtualPiggy_VirtualPiggy>  
                    <files>  
                        <default>VirtualPiggy_VirtualPiggy.csv</default>  
                    </files>  
                </VirtualPiggy_VirtualPiggy>  
            </modules>  
        </translate>    
        <events>  
            <core_block_abstract_prepare_layout_after>  
                <observers>  
                    <virtualpiggy>  
                        <class>virtualpiggy/observer</class>  
                        <method>removeVirtualpiggyPaymentMethod</method>  
                    </virtualpiggy>  
                </observers>  
            </core_block_abstract_prepare_layout_after>
        </events>
    </frontend>
    <phpunit>
        <suite>
            <modules>
                <VirtualPiggy_VirtualPiggy />
            </modules>
        </suite>
    </phpunit>
    <crontab>
        <jobs>
            <check_virtualpiggy_expired_orders>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>virtualpiggy/observer::checkExpiredOrders</model>
                </run>
            </check_virtualpiggy_expired_orders>
        </jobs>
    </crontab>
    <default>
        <virtualpiggy>
            <merchant_info>
                <HeaderNamespace>vp</HeaderNamespace>
                <propMerchantIdentifier>MerchantIdentifier</propMerchantIdentifier>
                <propApiKey>APIkey</propApiKey>
                <TransactionServiceEndpointAddress>https://development.virtualpiggy.com/Services/TransactionService.svc</TransactionServiceEndpointAddress>
                <TransactionServiceEndpointAddressWsdl>https://development.virtualpiggy.com/services/TransactionService.svc?wsdl</TransactionServiceEndpointAddressWsdl>
                <ParentServiceEndpointAddress>https://development.virtualpiggy.com/services/JSON/ParentService.svc</ParentServiceEndpointAddress>
                <ParentServiceEndpointAddressWsdl>https://development.virtualpiggy.com/services/JSON/ParentService.svc?wsdl</ParentServiceEndpointAddressWsdl>
                <MerchantIdentifier>a1d2e935-7f4d-4c70-8dfb-f0e6cace5774</MerchantIdentifier>
                <APIkey>gadgetboom123</APIkey>
                <Currency>USD</Currency>
                <DefaultShipmentMethod>Delivery</DefaultShipmentMethod>
                <order_expiration_time>5</order_expiration_time>
            </merchant_info>
            <checkoutbutton>
                <button_image>Button_LG5.png</button_image>
            </checkoutbutton>
            <messages>
                <login_error>Invalid username or password</login_error>
                <max_login_attemps>Too many login attempts. Your account is locked for 10 minutes.</max_login_attemps>
                <shipping_error>We are currently having trouble calculating your shipping. Please try again later.</shipping_error>
                <approval_required>We are waiting to hear back from your parents. Thanks for using Virtual Piggy.</approval_required>
                <success_transaction>Your order was created successfully.</success_transaction>
                <transaction_declined>We could not process your transaction. Please try again.</transaction_declined>
 		        <insufficient_funds>The Transaction was denied because you do not have enough funds available.</insufficient_funds>
                <transaction_not_authorized>You are not authorized to buy from this merchant. Please talk to your parents about letting you do this.</transaction_not_authorized>
                <parent_configuration>Please make sure you configure your guest children and payment accounts in the Virtual Piggy system</parent_configuration>
                <payment_not_accepted>The payment type associated with your account is not accepted.</payment_not_accepted>
            </messages>
            <extra>
                <show_payment_method>0</show_payment_method>
                <two_steps_authorization>0</two_steps_authorization>
            </extra>
        </virtualpiggy>
        <payment>
            <virtualpiggy>
                <active>1</active>
                <payment_action>order</payment_action>
                <model>virtualpiggy/payment_method_virtualPiggy</model>
                <order_status>pending</order_status>
                <title>VirtualPiggy</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </virtualpiggy>
        </payment>
    </default>
</config>
